body {
    background-color: black !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #73e6d6 !important;
    text-align: center;
}

.normaltext {
    column-count: 4;
    column-gap: 40px;
    column-rule: 5px solid aquamarine !important;
}

.normaltext p {
    color: aquamarine !important;
}

.boldtext {
    column-count: 4;
    column-gap: 40px;
    column-rule: 5px solid aquamarine !important;
    font-weight: bold;
}

.boldtext p {
    color: aquamarine;
}

.italictext {
    column-count: 4;
    column-gap: 40px;
    column-rule: 5px solid aquamarine !important;
}

.italictext p {
    color: aquamarine;
    font-style: italic;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.links {
    text-align: center;
    font-size: 25px;
}